---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Bluesky from '@components/socials/Bluesky.astro';
import Github from '@components/socials/Github.astro';
import Linkedin from '@components/socials/Linkedin.astro';
import Mastodon from '@components/socials/Mastodon.astro';


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang)

const team = [
  {
    name: 'Jessica Greene',
    image: '/assets/jessica.jpeg',
    job: 'Senior Machine Learning Engineer',
  },
  {
    name: 'Maren Westermann',
    image: '/assets/maren.jpeg',
    job: 'Senior Machine Learning Engineer',
  },
  {
    name: 'Öykü Gümüs',
    image: '/assets/oeykue.jpeg',
    job: 'Software Engineer',
  },
  {
    name: 'Timna Aversa',
    image: '/assets/timna.jpeg',
    job: 'Data Engineer',
  },
  {
    name: 'Vanessa Fonseca',
    image: '/assets/vanessa.jpeg',
    job: 'People Lead',
  },
  {
    name: 'Paloma Oliveira',
    image: '/assets/paloma.jpeg',
    job: 'FOSS Advocate',
  },
  {
    name: 'Anastasia Mikheeva',
    image: '/assets/anastasia.jpeg',
    job: 'Data Science Team Lead',
  },
  {
    name: 'Cristián',
    image: '/assets/cristian.jpeg',
    job: 'Senior R&D Manager',
    linkedin: 'https://linkedin.com/in/cmaureir',
    bluesky: 'https://bsky.app/profile/cmaureir.bsky.social',
    github: 'https://github.com/cmaureir',
    mastodon: 'https://mastodon.social/@cmaureir',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{t("about.team_title")}</h2>
      <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-3 lg:grid-cols-4">
        {
          team.map((item) => (
            <li class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border px-6 py-8">
              <div class="space-y-6">
                <img class="mx-auto h-auto w-32 rounded-full" src={item.image} alt={item.name} />
                <div class="text-center">
                  <h3 class="text-xl font-medium">{item.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base pb-5">{item.job}</p>
                  <div class="flex justify-center gap-2">
                    { item.github && <Github href={item.github} /> }
                    { item.linkedin && <Linkedin href={item.linkedin} /> }
                    { item.bluesky && <Bluesky href={item.bluesky} /> }
                    { item.mastodon && <Mastodon href={item.mastodon} /> }
                  </div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
